---
title: 关于
permalink: /about/
---

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
    <title>{{ page.title }} - {{ site.name }}</title>    
</head>

<body>
    <div class="content-wrap">
        <div class="content-main">
            {% include header.html %}
            <div class="post-content">

                <p>鞠婧祎微博：<a href="https://weibo.com/3669102477" target="_blank">@鞠婧祎</a></p>
                <p>鞠婧祎个人工作室微博：<a href="https://weibo.com/u/6346966579" target="_blank">@鞠婧祎个人工作室</a></p>
                <p><a href="https://weibo.com/u/5556238853" target="_blank">PeppermintJ_鞠婧祎个站</a></p>
                <p><a href="http://tieba.baidu.com/wxf/4440916?kw=%E9%9E%A0%E5%A9%A7%E7%A5%8E" target="_blank">百度贴吧</a></p>
                <p><a href="https://space.bilibili.com/225538707?" target="_blank">后援会B站</a></p>
                <p><a href="https://weibo.com/u/5668973907" target="_blank">贴吧微博</a></p>
                <p><a href="https://weibo.com/u/5736546367" target="_blank">部落微博</a></p>
                <p><a href="https://v.douyin.com/Je5LEns/" target="_blank">后援会抖音</a></p>
                                
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include stats.html %}
</body>

</html>
